doctype html
html
    head
        link(rel='stylesheet', href='css/bootstrap.css')
    body(ng-app='mobileStats', ng-controller='statsController')
        table.table-striped.table-bordered.table-condensed
            tr
                th Cell Info
                th GPS Data
                th GSM Data
                th Network Statistics
                th Test Date
                th User Comments
            tr(ng-repeat='stat in stats')
                td
                    h5(ng-init='cellInfo = stat.cellInfo ') GSM:
                    ul
                        li(ng-repeat='(k,v) in cellInfo.GSM') {{ k + ': ' + v }}
                td
                    ul(ng-init='gpsData = stat.gpsData')
                        li(ng-repeat='(k,v) in gpsData') {{ k + ': ' + v }}
                td
                    ul
                        li(ng-repeat='(k,v) in stat.gsmData') {{ k + ': ' + v }}
                td
                    ul
                        li(ng-repeat='(k,v) in stat.networkStats') {{ k + ': ' + v }}
                td {{ stat.testPerformedAt | date:'yyyy-MM-dd HH:mm:ss' }}
                td
                    ul
                        li(ng-repeat='(k,v) in stat.userComments') {{ k + ': ' + v }}

        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
        script(src='lib/mobile-stats.js')
